.App {
  text-align: center;
}

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
}

.contact.premium {
  background: #8311ee;
  color: white;
}

input {
  margin-top: 15px;
  border: 1px solid #8311ee;
  padding: 10px;
  border-radius: 5px;
}

button {
  margin-top: 10px;
  border: none;
  padding: 10px;
  border-radius: 15px;
  background-color: #8311ee;
  color: #fff;
  font-size: 18px;
}

button:hover {
  cursor: pointer;
  opacity: 0.9;
}

button:active {
  transform: scale(0.95);
}

.list_right {
  margin-left: 5px;
}

.check_inp {
  margin: 0px 10px -4px 0px;
}
